services:
  db:
    image: postgres:16
    container_name: pub-logger-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - pub_logger_data:/var/lib/postgresql/data

volumes:
  pub_logger_data:
