version: '3.8'

services:
  db:
    image: postgres:16
    container_name: pub-logger-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - pub_logger_data:/var/lib/postgresql/data

  api:
    build: ./api
    container_name: pub-logger-api
    restart: always
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      PGHOST: db
      PGPORT: 5432
      PGUSER: ${POSTGRES_USER}
      PGPASSWORD: ${POSTGRES_PASSWORD}
      PGDATABASE: ${POSTGRES_DB}
      JWT_SECRET: ${JWT_SECRET}

  frontend:
    build: ./frontend
    container_name: pub-logger-frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - api


volumes:
  pub_logger_data:
